body {
     font-family: Arial; 
     max-width: 400px;
     margin: 0 auto;
     background-color: aquamarine; 
    }
    header { 
    color: darksalmon; 
    text-align: center;
     }
     #taskInput {
         width: 70%; 
         padding: 8px; 
    }
    #addBtn { 
        padding: 8px 15px; 
    }
    #taskList { 
        list-style: none;
        padding: 0; 
    }
    .task { 
        display: flex;
        margin: 5px 0; 
    }
    .completed { 
        text-decoration: line-through; 
        color: #888; 
    }
    .delete { 
        margin-left: 10px; 
        color: lightcoral; 
        cursor: pointer; 
    }